<div class="conatiner" style="padding: 100px;">
    <div class="container">
        <div class="row">
            <div class="col" style="margin-left: 710px;">
            <button class="btn btn-warning me-md-2" (click)="dashboard()">Dashboard</button>
            <button class="btn btn-primary me-md-2" (click)="table()">Table View</button>
            <button class="btn btn-primary me-md-2" disabled>Map View</button>
            <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
    
    <google-map
      height="500px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
      (mapClick)="click($event)"
    >
      <map-marker
        #markerElem
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(marker, marker.info)"
      >
      </map-marker>
    
      <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>
    
    <button (click)="zoomIn()">Zoom in</button>
    <button (click)="zoomOut()">Zoom out</button>
    <button (click)="addMarker()">Add marker</button>
</div>

