<div class="login-form">
    <div class="form">
        <h2 class="text-center">Stationary Shop</h2>	
        
        <br>
        <img src="https://thumbs.dreamstime.com/b/shopping-cart-logo-web-icons-trolley-icon-shopping-icon-cart-icon-shop-icon-shopping-cart-button-shopping-cart-shopping-cart-icon-182252719.jpg" style="width:200px; height:200px; border-radius:50%; margin-left: 40px;">
        <br><br>
        <div class="text-center social-btn">
            <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="signInHandler()"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signin Using Google</button>
        </div>
    </div>  
</div>

