<div class="login-form container-fluid">
    <div class="form">
        <h2>User Details</h2>	
        <br>
        <img [src]="userDetails?.photoUrl" alt="user-avatar" class="user-avatar">
        <br><br>
        <p> <span>Name: </span> {{userDetails?.name}} </p>
        <p> <span>Email: </span> {{userDetails?.email}}</p>
        <br>
        <button class="btn btn-secondary" (click)="upload()">Continue Shopping</button>
        <br><br>
        <button class="btn btn-danger" (click)= "signOut()">Sign Out</button>
    </div>  
</div>








